@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ContactForm")
<div>
    @Html.ActionLink("Tillbaka till kontakter", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
