@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "DeleteSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Kontakten <strong>@Model.FirstName @Model.LastName (@Model.EmailAddress)</strong> har tagits bort.</p>
@Html.ActionLink("Tillbaka till kontakter", "Index")