@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><strong>@Model.FirstName @Model.LastName (@Model.EmailAddress)</strong> har sparats.</p>
@Html.ActionLink("Tillbaka till kontakter", "Index")