@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Error404</h3>
<p>Sidan du ville hämta existerar inte, så servern returnerade en 404 (Page not found)</p>

@Html.ActionLink("Tillbaka till kontakter", "ContactController.Index")